#project1 {
  background-color: red;
  color: black;

}

body {
      position: relative;
  }

 .videos {
   width: 100%;
 }

#intro {
  font-family: 'Risque', cursive;
}

.centercomp {
  margin: 10px;
  max-height: 80%;
}
