
body {
      position: relative;
      margin:10px;
  }

 .videos {
   width: 100%;
 }

#intro {
  font-family: 'Risque', cursive;
}

.centercomp {
  margin: 10px;
  max-height: 80%;
}

#assignments {
  width: 60%;
  max-width: 60%;
  max-height: 60%;
  margin-left: 20%;
  margin-bottom: 20%;
  background-color: black;

}

 .item {
   color: white;
}



#fid{
  position: relative;
  bottom:0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
}
