body {
      position: relative;
      margin:10px;
      background: "./assets/greybackground.jpg";
  }

 .videos {
   width: 100%;
 }

#intro {
  font-family: 'Risque', cursive;
  /*background-color: hsl(0,0,46);
  color: rgb(255,255,255);*/
}

.centercomp {
  margin: 10px;
  max-height: 80%;
}

#assignments {
  /*width: 60%;*/
  /*max-width: 60%;*/
  /*max-height: 60%;*/
  /*margin-left: 20%;*/
  /*margin-bottom: 20%;*/
  /*background-color: black;*/
   margin-left: 60px;
   padding-left:60px;
}

 iframe {
   width : 100%;
   height : 100%;
   top:0;
   left:0;
   bottom: 0;
}

#fid{
  position: relative;
  bottom:0;
  left: 0;
  width: 100%;
  background-color:  #8C1527;
  color: white;
}

#ppic {
  width: 200;
  height: 200;
  max-width: :200;
  max-height: 200;
}

#myCarousel {
  height: 70%;
  max-height: 70%;
  width: 70%;
  background-color: hsl(0,0,46);
}
.navbar {
  background-color: #8C1527 ;
  color: white;
}
.assimg {
    height: 70%;
    max-height: 70%;
    margin: 20px;
    padding: 20px;

}
.carimg {
   height: 600px;
   width:80%;
   margin-left: 60px;
   padding-left: 60px;
}
.assexp {
     height : 30%;
     max-height: 30%;
}

.prjvideo {
  height: 70%;
}

.aboutme
{
  margin-left: 10px;
  padding-left: 10px;
}

.contactdet {
  margin: 30px;
  padding: 30px;
  border: solid black 5px;
}
